body
{
background-color: black;

    background-repeat: no-repeat;

	background-size: cover;
  }

  .header {
    color: white;
    text-align: center;
  }
  

  .openingstijden {
    color: white;
    text-align: center; 
    margin-top: 70px;
  }

  #image-container {
    position: absolute;
    top: 0px;
    right: 0px;
}


.rechts-bovenhoek {
    width: 200px;
    height: auto;
}